.siteWrapper {
}
.siteHead {
	background: #1e6db8 none repeat scroll 0 0;
}
.siteBody {
}
.fullWidth { 
    min-width: 460px;
    width: 100%;
    margin: auto;
}
.leftWidth {
	width:0;
}
.rightWidth {
	width:0;
}
.contentWidth {
    max-width: 640px;
    min-width: 460px;
    width: 100%;
    box-shadow:0 0 0 transparent;
    padding: 10px 0 0;
}
.boxTop { 
    background: #1e6db8 none repeat scroll 0 0 !important;
    max-width: 640px;
    min-width: 460px;
    width: 100%;
    height:5px;
    padding:0;
}
.menuWrapper {
   display: inline-flex;
   height:100%;
}
.logoDiv {
    padding-bottom: 5px;
    padding-top:0;
}
.outerNav {
    max-width: 640px;
    min-width: 460px;
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
    border-radius:0;
    box-shadow:0 0 0 transparent;
}
.nav {
   background: #2e7dc8 none repeat scroll 0 0 !important;
   float:none;
   display: inline-block;
   width:100%;
}
.bannerlineTop {
display: none;
}
.bannerlineBottom {
display: none;
}
.blueBannerSide {	
}
.headerWrapper {
    display: inline-block;
    overflow: inherit;
}
.headerInnerWrapper {
    max-width: 640px;
    min-width: 460px;
    width: 100%;
    padding: 0;
    border-left:0;
    border-right:0;
}
.breadcrumbDiv {
}
.breadcrumbsearchWrapper {
    max-width: 640px;
    min-width: 460px;
    width: 100%;
    box-shadow:0 0 0 transparent;
    padding: 0;
}
.breadcrumbsearchWrapper > div {
	width: 98% !important;
	display: block;
	margin: auto;
	
}
.breadcrumbsearchWrapper:after {
}
.dateDiv {
	display: none !important;
}
.search {
	display: none !important;
}
.Toppane { 
}
.maincontentDiv {   
	padding: 0;
}
.innerContentPane {
	margin:0;
	width:100%;
}
.LeftPane {
	margin:0;
	width:48%;
	max-width:48%;
	min-width:45%;   
}
.ContentPane {
}
.RightPane {
	margin:0;
	width:48%;
	max-width:48%;
	min-width:45%;   
}
.BottomPane {	
}
#siteFooter {
    height:100%;
}
.links {
}
.CopyPrivacyTerms {
}
.Login, A.Login:link, A.Login:visited, A.Login:active {
}
.User, A.User:link, A.User:visited, A.User:active {
}

/* ------------------ Superfish Menu Styles --------------------*/

.sf-menu {
width:100%;
}
.sf-menu li {
border-radius: 0;
width:50% !important;
}
.sf-menu li.current {
}
.sf-menu li.current ul li.current {
}
.sf-menu a {
border-radius: 0;
}
.sf-menu a.sf-with-ul {
}
.sf-menu li ul li a {
}
.sf-menu li ul li {
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
border-radius: 0;
}

/* -------------- Google Calendar Fix --------------*/

.googlecalendar {
	width: 180px;
}

