.siteWrapper {
    background: #eeeeee none repeat scroll 0 0;
}
.outerNav {
    background: #1e6db8 none repeat scroll 0 0;
}
.nav {
    background: #1e6db8 none repeat scroll 0 0;
}
.bannerlineTop {
    background: #1e6db8 none repeat scroll 0 0;
    border-bottom: 2px solid white;
    height: 8px;
}
.bannerlineBottom {
    background: #1e6db8 none repeat scroll 0 0;
    border-top: 2px solid white;
    height: 8px;
}
.headerWrapper {
	background: #1e6db8 none repeat scroll 0 0;
}

/* ------------------ Superfish Menu Styles --------------------*/

.sf-menu li {
    background: #2e7dc8 none repeat scroll 0 0 !important;
}
.sf-menu li.current {
    background: #185389 none repeat scroll 0 0 !important;
}
.sf-menu li.current ul li.current {
    color:white;
}
.sf-menu a {
    border-radius: 10px 5px 0 0;
    color: white;
    font-size: 13px;
    padding: 10px !important;
      
}


