.siteWrapper {
    background: #eeeeee none repeat scroll 0 0;
}
.outerNav {
    background: #40526D none repeat scroll 0 0;
}
.nav {
    background: #40526D none repeat scroll 0 0;
}
.bannerlineTop {
    background: #40526D none repeat scroll 0 0;
    border-bottom: 2px solid white;
    height: 8px;
}
.bannerlineBottom {
    background: #40526D none repeat scroll 0 0;
    border-top: 2px solid white;
    height: 8px;
}
.headerWrapper {
	overflow:hidden;
	background: #40526D none repeat scroll 0 0;
}

/* ------------------ Superfish Menu Styles --------------------*/

.sf-menu li {
    background: #50627d none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    position:relative;
}
.sf-menu li.current {
    background: #36455B none repeat scroll 0 0;
}
.sf-menu li.current ul li.current {
    color:white;
}
.sf-menu a {
    border-radius: 10px 5px 0 0;
    color: white;
    font-size: 13px;
    padding: 10px !important;
      
}


